[submodule ".vim/packages/neobundle.vim"]
	path = .vim/packages/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule ".bash_it"]
	path = .bash/packages/bash-it
	url = https://github.com/Bash-it/bash-it.git
