[user]
  email = daijiro.wachi@gmail.com
  name = Daijiro Wachi
[color]
  ui = auto
[core]
  editor = /usr/bin/vim
  whitespace = fix
  ignorecase = false
[push]
  default = nothing
[alias]
  pushf = push --force-with-lease
  submu = submodule update --init --recursive
  cp = cherry-pick
  st = status
  cm = commit
  co = checkout
  b = branch
  r = remote
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process
[fetch]
  recurseSubmodules = on-demand
[log]
  abbrevCommit = true
  follow = true
[status]
  submoduleSummary = true
  showUntrackedFiles = all
[init]
  defaultBranch = main
[pull]
	rebase = false
