[submodule ".vim/packages/neobundle.vim"]
	path = .vim/packages/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule ".bash/packages/bash-it"]
	path = .bash/packages/bash-it
	url = https://github.com/Bash-it/bash-it.git
[submodule ".bash/packages/depot_tools"]
	path = .bash/packages/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
